{% extends 'base.html.twig' %}
{% block body %}
	<title>{% block title %}Gestion des managers{% endblock %}</title>
		{% include 'layout/menu/_header.html.twig' %}
		<main style="display: flex;">
			{% include 'layout/menu/_sidebar.html.twig' %}
			<div class="w-full p-8">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="mb-4 p-4 rounded-lg text-sm
							{% if label == 'success' %}
								bg-green-100 text-green-800
							{% elseif label == 'error' %}
								bg-red-100 text-red-800
							{% else %}
								bg-blue-100 text-blue-800
							{% endif %}">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
				<div class="flex items-center gap-5">
					<h1 class="text-left font-bold text-2xl my-4 text-[#004C6C]">Managers</h1>
					<a href ="{{ path("app_administration_ajouter_manager") }}">
						<button class="bg-[#004c6c] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ajouter un manager</button>
					</a>
				</div>
				  {% include 'layout/_addFlash.html.twig'%} {# include pour appeler le message flash dans le formulaire#}
				<div class="flex w-full justify-center items-center h-max">
					<table class="w-full mt-6">
						<thead>
							<tr class="bg-[#F9FAFB] text-white border-x border-t border-[#EAECF0] rounded-lg" style="overflow: hidden;">
								{{ form_start(form) }}
								<td class="py-4 px-6 pr-0 w-1/5">
									<label for="form_prenom" class="block text-gray-700 text-sm font-bold mb-2 flex items-center justify-start">
										{{ form_label(form.FirstName) }}
										<img id="icon-prenom" src="{{ asset('assets/image/Icon-arrow-filter.png') }}" alt="Icon" class="ml-2 text-gray-700" style="width: 15px; height: 20px; cursor: pointer;">
									</label>
									{{ form_widget(form.FirstName, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
								</td>

								<td class="py-4 px-6 pr-0 w-1/5">
									<label for="form_nom" class="block text-gray-700 text-sm font-bold mb-2 flex items-center justify-start">
										{{ form_label(form.LastName) }}
										<img id="icon-nom" src="{{ asset('assets/image/Icon-arrow-filter.png') }}" alt="Icon" class="ml-2 text-gray-700" style="width: 15px; height: 20px; cursor: pointer;">
									</label>
									{{ form_widget(form.LastName, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
								</td>

								<td class="py-4 px-6 pr-0 w-1/5">
									<label for="form_service" class="block text-gray-700 text-sm font-bold mb-2 flex items-center justify-start">
										{{ form_label(form.Department) }}
										<img id="icon-service" src="{{ asset('assets/image/Icon-arrow-filter.png') }}" alt="Icon" class="ml-2 text-gray-700" style="width: 15px; height: 20px; cursor: pointer;">
									</label>
									{{ form_widget(form.Department, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
								</td>

								<td class="w-1/5 px-6 pr-0" colspan="3" style="vertical-align: bottom; padding-bottom: 15px;">
									<div>
										{{ form_widget(form.search, {'attr': {'class': 'bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6'}}) }}
									</div>
								</td>
								{{ form_end(form) }}
							</tr>
						</thead>
						<tbody>
							{% if persons is empty %}
								<tr class="border-x border-b mt-4">
									<td class="py-6 px-6">Aucun résultat</td>
								</tr>
							{% else %}
								{% for person in persons %}
									<tr class="border-x border-b mt-4">
										<td class="py-6 px-6">{{ person.person.firstName }}</td>
										<td class="py-6 px-6">{{ person.person.lastName }}</td>
										<td class="py-6 px-6">{{ person.person.Department.name }}</td>
										<td class="py-6 px-6">
											<form method="GET" action="{{ path('app_administration_detail_manager', {'id': person.person.id}) }}">
												<button type="submit" class="bg-[#004C6C14] text-white font-bold py-2 px-10 rounded hover:text-white">
													<span class="text-[#475467]">Détails</span>
												</button>
											</form>

										</td>
									</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
				<div class="flex w-full justify-center items-center h-max mt-10">
					{% if pager.hasPreviousPage %}
						<a class="bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6 m-4" href="{{ path('app_administration_manager', { page: pager.previousPage }) }}">Précédent</a>
					{% endif %}
						<p>Page {{ pager.currentPage }} sur {{ pager.nbPages }}</p>
					{% if pager.hasNextPage %}
						<a class="bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6 m-4" href="{{ path('app_administration_manager', { page: pager.nextPage }) }}">Suivant</a>
					{% endif %}
				</div>
			</div>
		</main>
{% endblock %}
