{% extends 'base.html.twig' %}

{% block body %}

{% include 'layout/menu/_header.html.twig' %}
	<title>{% block title %}Historique des demandes{% endblock %}</title>
	<main style="display: flex;">
		{% include 'layout/menu/_sidebar.html.twig' %}

		<div class="w-full p-8">
        <h1 class="text-left font-bold text-2xl my-4 text-[#004C6C]">Historique des demandes</h1>
            <table class="text-gray-600 min-w-full border-collapse border border-gray-200 shadow-sm rounded-lg">
                <thead class="bg-gray-100 text-gray-700">
                    {{ form_start(form) }}
                        <tr class="bg-[#F9FAFB] text-gray-700 border-x border-t border-[#EAECF0] rounded-lg">
                            <td class="py-4 px-6 pr-0 w-1/6">
                                {{ form_label(form.request_type, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
                                {{ form_widget(form.request_type, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                            </td>
                            <td class="py-4 px-6 pr-0 w-1/6">
                                {{ form_label(form.collaborator, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
                                {{ form_widget(form.collaborator, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                            </td>
                            <td class="py-4 px-6 pr-0 w-1/6">
                                {{ form_label(form.start_at, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
                                {{ form_widget(form.start_at, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                            </td>
                                <td class="py-4 px-6 pr-0 w-1/6">
                                {{ form_label(form.end_at, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
                                {{ form_widget(form.end_at, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                            </td>
                            <td class="py-4 px-4 pr-0 w-1/6">
                                {{ form_label(form.totalnbdemande, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
                                {{ form_widget(form.totalnbdemande, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                            </td>
                             <td class="py-2 px-3 pr-0 w-1/4">
                                {{ form_label(form.answer, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
                                {{ form_widget(form.answer, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                            </td>
                            <td class="w-1/6 px-6 pr-6" colspan="3" style="vertical-align: bottom; padding-bottom: 15px;">
                                <div>
                                    {{ form_widget(form.submit, {'attr': {'class': 'bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6'}}) }}
                                </div>
                            </td>
                        </tr>
                    {{ form_end(form) }}
                </thead>
                <tbody>
                   {% for request in requests %} 
                        <tr class="border-t border-b"> 
                            <td class="px-4 py-6">{{ request.requestType.name }}</td>
                            <td class="px-4 py-6 border-t border-b border-gray-300">{{ request.collaborator.firstName }} {{ request.collaborator.lastName}}</td>
                            <td class="px-4 py-6 border-t border-b border-gray-300">{{ request.startAt|date('d/m/Y H:i') }}</td>
                            <td class="px-4 py-6 border-t border-b border-gray-300">{{ request.endAt|date('d/m/Y H:i') }}</td>
                            <td class="px-4 py-6 border-t border-b border-gray-300">
                                {% set date1 = request.startAt|date('U') %}
                                {% set date2 = request.endAt|date('U') %}
                                
                                {% set diff = (date2 - date1) / 86400 %}
                                {{ diff }} jours
                            </td>

                            <td class="px-4 py-6 border-t border-b border-gray-300">
                                <div class="{% if request.answer is null %}{% elseif request.answer == 1 %}{% else %}{% endif %}">
                                    {% if request.answer is null %}
                                        En attente
                                    {% elseif request.answer == true %}
                                        Validé
                                    {% elseif request.answer == false %}
                                        Refusé
                                    {% endif %}
                                </div>
                            </td>
                            <td class="px-4 py-2 border-t border-b border-gray-300">
                                <a href="" class="text-gray-600 bg-[#ecf3f9] px-5 font-medium py-2 rounded">
                                    Détails
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="px-4 py-2 text-center text-gray-500">Aucune demande trouvée</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="flex w-full justify-center items-center h-max mt-10">
                {% if pager.hasPreviousPage %}
                    <a class="bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6 m-4" href="{{ path('app_team', { page: pager.previousPage }) }}">Précédent</a>
                {% endif %}
                    <p>Page {{ pager.currentPage }} sur {{ pager.nbPages }}</p>
                {% if pager.hasNextPage %}
                    <a class="bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6 m-4" href="{{ path('app_team', { page: pager.nextPage }) }}">Suivant</a>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
