{# templates/collaborateur/information.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	<title>
		{% block title %}Information du manager
		{% endblock %}
	</title>

	<script src="{{ asset('assets/js/ViewPasswordManager.js') }}"></script>

	{% include 'layout/menu/_header.html.twig' %}
	<main style="display: flex;">
		{% include 'layout/menu/_sidebar.html.twig' %}

		<div class="w-[50%] p-8">
			<div class="flex items-center gap-5">
				<h1 class="text-left font-bold text-2xl my-4 text-[#004C6C]">Mes informations</h1>
			</div>
			{{ form_start(formInfo) }}
			<div class="space-y-6">
				<div class="grid grid-cols-2 gap-4">
					<div
						class="col-span-1">

						<!-- Label (si tu veux le garder séparé) -->
						{{ form_label(formInfo.email, 'Adresse email du manager', {'label_attr': {'class': 'block text-gray-700 font-medium'}}) }}
						<div
							class="relative">
							<!-- Icône à gauche -->
							<span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-500">
								<img src="{{ asset('assets/image/icon-enveloppe.svg') }}" alt="Ico enveloppe" class="w-5 h-5">
							</span>

							<!-- Champ email -->
							{{ form_widget(formInfo.email, {'attr': {
                                            'class': 'pl-10 pr-4 py-2 mt-1 block w-full border border-gray-300 rounded-md bg-gray-200 text-gray-700 focus:ring focus:ring-blue-300'
                                        }}) }}
						</div>
						<!-- Erreurs (si nécessaire) -->
						{{ form_errors(formInfo.email) }}
					</div>
				</div>
				<div class="grid grid-cols-2 gap-4">
					<div>
						{{ form_row(formInfo.last_name) }}
					</div>
					<div>
						{{ form_row(formInfo.first_name) }}
					</div>
				</div>
				<div class="grid grid-cols-2 gap-4">
					<div>
						{{ form_row(formInfo.department) }}
					</div>
				</div>
			</div>
			{{ form_end(formInfo) }}

			<h2 class="text-xl font-semibold text-gray-900 mt-8 mb-4">Réinitialiser mon mot de passe</h2>
			{% include 'layout/_addFlash.html.twig' %}
			{{ form_start(formMdp) }}
			<div class="space-y-6">
				<div class="grid grid-cols-2 gap-4">
					<div class="col-span-1 relative">
					{{ form_label(formMdp.currentPassword) }}
					{{ form_widget(formMdp.currentPassword, {
						'attr': {
							'id': 'currentPassword',
							'class': 'w-full px-4 py-3 border border-gray-300 rounded-md focus:ring focus:ring-blue-300'
						}
					}) }}
					{# Erreurs en rouge #}
					{% if formMdp.currentPassword.vars.errors|length %}
						<div class="text-red-600 text-sm mt-1">
						{{ form_errors(formMdp.currentPassword) }}
						</div>
					{% endif %}

					<button type="button" id="togglePassword" class="absolute inset-y-0 right-3 flex items-center">
						<img id="eyeIcon"
							src="{{ asset('assets/image/eye-slash-solid.svg') }}"
							data-eye-open="{{ asset('assets/image/eye-solid.svg') }}"
							data-eye-closed="{{ asset('assets/image/eye-slash-solid.svg') }}"
							alt="Afficher/Masquer"
							class="w-5 h-5">
					</button>

					{% for label, messages in app.flashes('error_current') %}
						{% for message in messages %}
						<div class="alert alert-{{ label }}">
							{{ message }}
						</div>
						{% endfor %}
					{% endfor %}
					</div>
				</div>

				<div class="grid grid-cols-2 gap-4">
					<div class="relative">
					{{ form_label(formMdp.newPassword) }}
					{{ form_widget(formMdp.newPassword, {
						'attr': {
							'id': 'newPassword',
							'class': 'w-full px-4 py-3 border border-gray-300 rounded-md focus:ring focus:ring-blue-300'
						}
					}) }}
					{% if formMdp.newPassword.vars.errors|length %}
						<div class="text-red-600 text-sm mt-1">
						{{ form_errors(formMdp.newPassword) }}
						</div>
					{% endif %}

					<button type="button" id="togglePasswordNew" class="absolute inset-y-0 right-3 flex items-center">
						<img id="eyeIconNew"
							src="{{ asset('assets/image/eye-slash-solid.svg') }}"
							data-eye-open="{{ asset('assets/image/eye-solid.svg') }}"
							data-eye-closed="{{ asset('assets/image/eye-slash-solid.svg') }}"
							alt="Afficher/Masquer"
							class="w-5 h-5">
					</button>

					{% for label, messages in app.flashes('error_repeat') %}
						{% for message in messages %}
						<div class="alert alert-{{ label }}">
							{{ message }}
						</div>
						{% endfor %}
					{% endfor %}
					</div>

					<div class="relative">
					{{ form_label(formMdp.confirmPassword) }}
					{{ form_widget(formMdp.confirmPassword, {
						'attr': {
							'id': 'confirmPassword',
							'class': 'w-full px-4 py-3 border border-gray-300 rounded-md focus:ring focus:ring-blue-300'
						}
					}) }}
					{% if formMdp.confirmPassword.vars.errors|length %}
						<div class="text-red-600 text-sm mt-1">
						{{ form_errors(formMdp.confirmPassword) }}
						</div>
					{% endif %}

					<button type="button" id="togglePasswordConfirm" class="absolute inset-y-0 right-3 flex items-center">
						<img id="eyeIconConfirm"
							src="{{ asset('assets/image/eye-slash-solid.svg') }}"
							data-eye-open="{{ asset('assets/image/eye-solid.svg') }}"
							data-eye-closed="{{ asset('assets/image/eye-slash-solid.svg') }}"
							alt="Afficher/Masquer"
							class="w-5 h-5">
					</button>

					{% for label, messages in app.flashes('error_confirm') %}
						{% for message in messages %}
						<div class="alert alert-danger">
							<span class="text-red-600">{{ message }}</span>
						</div>
						{% endfor %}
					{% endfor %}
					</div>

					<div class="mt-6">
					{{ form_widget(formMdp.Submit, {
						'attr': {
							'class': 'w-full bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-3 px-6'
						}
					}) }}
					</div>
				</div>
			</div>
			{{ form_end(formMdp) }}

	</div>
</main>{% endblock %}
