{# templates/collaborateur/information.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <title>{% block title %}Information{% endblock %}</title>

	{% include 'layout/menu/_header.html.twig' %}
        <main style="display: flex;">
            {% include 'layout/menu/_sidebar.html.twig' %}

                <div class="w-[50%] p-8">
                    <div class="flex items-center gap-5">
					    <h1 class="text-left font-bold text-2xl my-4 text-[#004C6C]">Mes informations</h1>
				    </div>
                    {{ form_start(formInfo) }}
                        <div class="space-y-6">
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    {{ form_row(formInfo.last_name) }}
                                </div>
                                <div>
                                    {{ form_row(formInfo.first_name) }}
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div class="col-span-1">
                                    {{ form_row(formInfo.email) }}
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    {{ form_row(formInfo.department_id) }}
                                </div>
                                <div class="col-span-1">
                                    {{ form_row(formInfo.position) }}
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div class="col-span-1">
                                    {{ form_row(formInfo.manager_id) }}
                                </div>
                            </div>
                        </div>
                    {{ form_end(formInfo) }}

                    <h2 class="text-xl font-semibold text-gray-900 mt-8 mb-4">Réinitialiser mon mot de passe</h2>
                    {{ form_start(formMdp) }}
                    <div class="grid grid-cols-3 gap-6">
                        <div>
                            <label class="block text-gray-700 font-medium">{{ form_label(formMdp.currentPassword) }}</label>
                            {{ form_widget(formMdp.currentPassword, { attr: { class: "w-full mt-1 p-2 border border-gray-300 rounded-md" } }) }}
                        </div>
                        <br>
                        <div>
                            <label class="block text-gray-700 font-medium">{{ form_label(formMdp.newPassword) }}</label>
                            {{ form_widget(formMdp.newPassword, { attr: { class: "w-full mt-1 p-2 border border-gray-300 rounded-md" } }) }}
                        </div>
                        <div>
                            <label class="block text-gray-700 font-medium">{{ form_label(formMdp.confirmPassword) }}</label>
                            {{ form_widget(formMdp.confirmPassword, { attr: { class: "w-full mt-1 p-2 border border-gray-300 rounded-md" } }) }}
                        </div>
                    </div>

                    <div class="mt-6">
                        <button type="submit" class="bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6">Réinitialiser le mot de passe</button>
                    </div> 
                {{ form_end(formMdp) }}
                </div>
            </main>
{% endblock %}
