{% extends 'base.html.twig' %}

{% block body %}

	<title>{% block title %}Mon équipe{% endblock %}</title>
		{% include 'layout/menu/_header.html.twig' %}
		<main style="display: flex;">
			{% include 'layout/menu/_sidebar.html.twig' %}

			<div class="w-full p-8">
				<div class="flex items-center gap-5">
					<h1 class="text-left font-bold text-2xl my-4 text-[#004C6C]">Mon équipe</h1>
					<form method="POST" action="{{ path('app_administration_ajouter_collaborateur') }}"> <!--AUCUNE PAGE AJOUTER COLLABORATEUR(PROVISOIRE)-->
						<button type="submit" class="bg-[#004c6c] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ajouter un collaborateur</button>
					</form>
				</div>
				<div class="flex w-full justify-center items-center h-max">
					<table class="w-full mt-6">
							<thead>
								{{ form_start(form) }}
								<tr class="bg-[#F9FAFB] text-gray-700 border-x border-t border-[#EAECF0] rounded-lg">
									<td class="py-4 px-6 pr-0 w-1/6">
										{{ form_label(form.last_name, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
										{{ form_widget(form.last_name, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
									</td>

									<td class="py-4 px-6 pr-0 w-1/6">
										{{ form_label(form.first_name, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
										{{ form_widget(form.first_name, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
									</td>

									<td class="py-4 px-6 pr-0 w-1/6">
										{{ form_label(form.email, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
										{{ form_widget(form.email, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
									</td>

									<td class="py-4 px-6 pr-0 w-1/6">
										{{ form_label(form.name, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
										{{ form_widget(form.name, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
									</td>

									<td class="py-4 px-6 pr-0 w-1/4">
										{{ form_label(form.totalleavedays, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
										{{ form_widget(form.totalleavedays, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
									</td>

									<td class="w-1/6 px-6 pr-6" colspan="3" style="vertical-align: bottom; padding-bottom: 15px;">
										<div>
											{{ form_widget(form.submit, {'attr': {'class': 'bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6'}}) }}
										</div>
									</td>
								</tr>
								{{ form_end(form) }}
							</thead>
						<tbody>

							{# Chaque résultat doit se présenter sous cette forme : #}
							{% for items in team %}
								<tr class="border-x border-b mt-4">
									<td class="py-6 px-6">{{items.lastname}}</td>
									<td class="py-6 px-6">{{items.firstname}}</td>
									<td class="py-6 px-6">{{ items.user.email|default('Non défini')}}</td>
									<td class="py-6 px-6">{{items.positionid.name}}</td>
									<td class="py-6 px-6">{{items.totalleavedays}}
									{% if items.totalleavedays <= 1 %} jour {% else %} jours {% endif %}
									</td>
									<td class="py-6 px-6">
										<form method="POST" action="{{ path('app_detail_team', {'id': items.id}) }}">
											<button type="submit" class="bg-gray-200 px-3 py-1 rounded">Détails</button>
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="flex w-full justify-center items-center h-max mt-10">
					{% if pager.hasPreviousPage %}
						<a class="bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6 m-4" href="{{ path('app_team', { page: pager.previousPage }) }}">Précédent</a>
					{% endif %}
						<p>Page {{ pager.currentPage }} sur {{ pager.nbPages }}</p>
					{% if pager.hasNextPage %}
						<a class="bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6 m-4" href="{{ path('app_team', { page: pager.nextPage }) }}">Suivant</a>
					{% endif %}
				</div>
			</div>
		</main>
{% endblock %}
