{% extends 'base.html.twig' %}

{% block body %}
	<title>{% block title %}Historique des demandes{% endblock %}</title>
		{% include 'layout/menu/_header.html.twig' %}
		<main style="display: flex;">
			{% include 'layout/menu/_sidebar.html.twig' %}

			<div class="w-full p-8">
				<div class="flex items-center gap-5">
					<h1 class="text-left font-bold text-2xl my-4 text-[#004C6C]">Historique des demandes</h1>
				</div>

                <div class="flex w-full justify-center items-center h-max">
					<table class="w-full mt-6">
                        <thead>
								{{ form_start(form) }}
								<tr class="bg-[#F9FAFB] text-gray-700 border-x border-t border-[#EAECF0] rounded-lg">
									<td class="py-4 px-6 pr-0 w-1/6">
										{{ form_label(form.request_type, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
										{{ form_widget(form.request_type, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
									</td>

									<td class="py-4 px-6 pr-0 w-1/6">
										{{ form_label(form.created_at, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
										{{ form_widget(form.created_at, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
									</td>

									<td class="py-4 px-6 pr-0 w-1/6">
										{{ form_label(form.start_at, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
										{{ form_widget(form.start_at, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
									</td>

									<td class="py-4 px-6 pr-0 w-1/6">
										{{ form_label(form.end_at, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
										{{ form_widget(form.end_at, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
									</td>

									<td class="py-4 px-6 pr-0 w-1/4">
										{{ form_label(form.nbdays, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
										{{ form_widget(form.nbdays, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
									</td>
                                    <td class="py-4 px-6 pr-0 w-1/4">
										{{ form_label(form.answer, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
										{{ form_widget(form.answer, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
									</td>

									<td class="w-1/6 px-6 pr-6" colspan="3" style="vertical-align: bottom; padding-bottom: 15px;">
										<div>
											{{ form_widget(form.submit, {'attr': {'class': 'bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6'}}) }}
										</div>
									</td>
								</tr>
								{{ form_end(form) }}
							</thead>
                        <tbody>
                            {% for requests in request %}
                                <tr>
                                    <td class="py-6 px-6">{{ requests.requesttype.name }}</td>
                                    <td class="py-6 px-6">{{ requests.createdat|date('d/m/Y H:i') }}</td>
                                    <td class="py-6 px-6">{{ requests.startat|date('d/m/Y H:i') }}</td>
                                    <td class="py-6 px-6">{{ requests.endat|date('d/m/Y H:i') }}</td>
                                    <td class="py-6 px-6">{{ requests.nbdays }} jours</td>
                                    <td class="py-6 px-6">
										{% if requests.answer == 1 %}
											Accepté
										{% elseif requests.answer == 0 %}
											Refusé
										{% else %}
											En attente
										{% endif %}
									</td>
                                    <td class="py-6 px-6">
                                        <form method="POST" action="{{ path('app_detail_request_pending', {'id': requests.id}) }}">
                                            <button type="submit" class="bg-gray-200 px-3 py-1 rounded">Détails</button>
                                        </form>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7" class="text-center">Aucune demande trouvée.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="flex w-full justify-center items-center h-max mt-10">
					{% if pager.hasPreviousPage %}
						<a class="bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6 m-4" href="{{ path('app_request_history_collaborator', { page: pager.previousPage }) }}">Précédent</a>
					{% endif %}
						<p>Page {{ pager.currentPage }} sur {{ pager.nbPages }}</p>
					{% if pager.hasNextPage %}
						<a class="bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6 m-4" href="{{ path('app_request_history_collaborator', { page: pager.nextPage }) }}">Suivant</a>
					{% endif %}
				</div>
			</div>
		</main>
{% endblock %}
