{# templates/type_demande/form.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
<title>{% block title %}Type de demande{% endblock %}</title>
    {% include 'layout/menu/_header.html.twig' %}

    <main class="flex">
        {% include 'layout/menu/_sidebar.html.twig' %}

        <div class="w-full p-8 overflow-y-auto">
            <h2 class="text-left font-bold text-2xl mb-4">Types de demandes</h2>
            <form method="POST" action="{{ path('app_administration_detail_type_of_request', {id: requestType.id}) }}" class="mb-4">
                <div class="mb-3">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control mt-1 block w-[250px] rounded-md p-2 border border-gray-400 shadow-sm'} }) }}
                </div>

                <div class="flex gap-4">
                    {{ form_widget(form.mettreAJour, {
                        'attr': {
                            'class': 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'
                        }
                    }) }}
            </form>

<form method="POST" action="{{ path('app_administration_delete_type_of_request', {id: requestType.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce type de demande ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ requestType.id) }}">
    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Supprimer</button>
</form>

        </div>
    </main>
{% endblock %}
