{% extends 'base.html.twig' %}

{% block body %}

	<title>{% block title %}Type de demande{% endblock %}</title>
	{% include 'layout/menu/_header.html.twig' %}
        <main style="display: flex;">
            {% include 'layout/menu/_sidebar.html.twig' %}
            <div class="flex-grow w-full p-8">
                <div class="flex items-center gap-5">
                    <h1 class="text-left font-bold text-2xl my-4 text-[#004C6C]">Mes demandes</h1>
					<form method="POST" action="{{ path('app_administration_add_type_of_request') }}">
                        <button type="submit" class="bg-[#004c6c] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ajouter un type de demande</button>
                    </form>
                </div>

               	<div class="flex w-full justify-center items-center h-max">
                    <table class="w-full mt-6">
                        <thead>
								{{ form_start(form) }}
								<tr class="bg-[#F9FAFB] text-gray-700 border-x border-t border-[#EAECF0] rounded-lg">
									<td class="py-4 px-6 pr-0 w-1/6">
										{{ form_label(form.name, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
										{{ form_widget(form.name, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
									</td>
									
									<td class="py-4 px-6 pr-0 w-1/4">
										{{ form_label(form.totalnbdemande, null, {'label_attr': {'class': 'block text-sm font-bold mb-2 flex items-center justify-start'}}) }}
										{{ form_widget(form.totalnbdemande, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
									</td>

									<td class="w-1/6 px-6 pr-6" colspan="3" style="vertical-align: bottom; padding-bottom: 15px;">
										<div>
											{{ form_widget(form.submit, {'attr': {'class': 'bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6'}}) }}
										</div>
									</td>
								</tr>
								{{ form_end(form) }}
							</thead>
                        <tbody>
                            {% for items in requesttype %}
                                <tr class="border-t">
                                     <td class="py-6 px-6">{{ items.name }}</td>
									 <td class="py-6 px-6">
										{{ items.totalnbdemande }} 
										{% if items.totalnbdemande <= 1 %} demande {% else %} demandes {% endif %}
									</td>
                                     <td class="py-6 px-6">
                                    <form method="POST" action="{{ path('app_administration_detail_type_of_request', {'id': items.id}) }}">
                                        <button type="submit" class="text-gray-600 bg-[#ecf3f9] px-5 font-medium py-2 rounded">Détails</button>
                                    </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="flex w-full justify-center items-center h-max mt-10">
					{% if pager.hasPreviousPage %}
						<a class="bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6 m-4" href="{{ path('app_administration_type_of_request', { page: pager.previousPage }) }}">Précédent</a>
					{% endif %}
						<p>Page {{ pager.currentPage }} sur {{ pager.nbPages }}</p>
					{% if pager.hasNextPage %}
						<a class="bg-[#004c6c] hover:bg-blue-700 text-white font-bold rounded py-2 px-6 m-4" href="{{ path('app_administration_type_of_request', { page: pager.nextPage }) }}">Suivant</a>
					{% endif %}
				</div>
            </div>
        </main>
{% endblock %}
