{% block sidebar %}

	<style>

		.sidebar {
			width: 18%;
			height: auto;
			background: white;
			padding: 20px 0;
			display: flex;
			flex-direction: column;
			box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
			bottom: 0;
			left: 0;
		}

		.sidebar a {
			text-decoration: none;
			color: #00476D;
			padding: 12px 30px;
			width: 100%;
			display: block;
			font-size: 14px;
			transition: background 0.3s, padding-left 0.3s;
		}


		/* Effet hover en bleu clair */
		.sidebar a:hover {
			background-color: #E6F0F8;
			border-right: 4px solid #00476D;
			/*padding-left: 16px;*/
			font-weight: bold;
			width: 187px;
			width: 100%;
		}

		.sidebar a.active {
			background-color: #E6F0F8;
			border-right: 4px solid #00476D;
			font-weight: bold;
		}

		.sidebar .user-info {
			margin-top: auto;
			padding: 20px 40px;
			display: flex;
			align-items: center;
			gap: 10px;
			width: 100%;
		}

		.sidebar .user-info img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}

		.sidebar .user-info div {
			font-size: 12px;
			color: #555;
		}

		/* Indicateur "5" pour les notifications */
		.notif {
			background: #ebf1f4;
			color: #00476D;
			font-size: 12px;
			padding: 5px 10px;
			border-radius: 5px;
			margin-left: 5px;
		}

		.trait {
			width: 160px;
			height: 1px;
			background-color: #dfe4ea;
			margin: 32px;
		}

		svg {
			float: right;
			width: 14px;
		}


		/* Actif = Bleu foncé avec texte blanc */

		.sidebar .submenu {
			padding-left: 20px;
			display: none;
			width: 100%;
		}

		/* Dropdown */
		.dropdown-toggle {
			cursor: pointer;
		}

		.dropdown-open .submenu {
			display: flex;
			flex-direction: column;
		}

	</style>


	<!-- SIDEBAR -->
	<aside class="sidebar">
		{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
			<a href="{{ path('app_login') }}" class="{% if app.request.get('_route') == 'app_login' %}active{% endif %}">Connexion</a>
		{% else %}
			<a href="{{ path('app_home') }}" class="{% if app.request.get('_route') == 'app_home' %}active{% endif %}">Accueil</a>

			{# Accès Collaborateur et Manager #}
			{% if is_granted('ROLE_COLLABORATEUR') or is_granted('ROLE_MANAGER') %}
				<a href="{{ path('app_new_request') }}" class="{% if app.request.get('_route') == 'app_new_request' %}active{% endif %}">Nouvelle demande</a>
				<a href="{{ path('app_request_pending') }}" class="{% if app.request.get('_route') == 'app_request_pending' %}active{% endif %}">Demandes en attente
					<span class="notif">5{#{{nombre}}#}</span>
				</a>
			{% endif %}


			{% if app.user and 'ROLE_MANAGER' in app.user.roles %}
				<a href="{{path('app_history_request_manager')}}" class="{% if app.request.get('_route') == 'app_history_request_manager' %}active{% endif %}">Historique des demandes</a>
			{% elseif app.user and 'ROLE_COLLABORATEUR' in app.user.roles %}
				<a href="{{path('app_request_history_collaborator')}}" class="{% if app.request.get('_route') == 'app_request_history_collaborator' %}active{% endif %}">Historique des demandes</a>
			{% endif %}
				{% if app.user and 'ROLE_MANAGER' in app.user.roles %}
					<a href="{{path('app_team')}}" class="{% if app.request.get('_route') == 'app_team' %}active{% endif %}">Mon équipe</a>
					<a href="{{ path('app_statistic') }}" class="{% if app.request.get('_route') == 'app_statistic' %}active{% endif %}">Statistiques</a>
				{% endif %}
			<div class="trait"></div>

			{% if app.user and 'ROLE_MANAGER' in app.user.roles %}
				<a href="{{path('app_information_manager')}}" class="{% if app.request.get('_route') == 'app_information_manager' %}active{% endif %}">Mes informations</a>
			{% elseif app.user and 'ROLE_COLLABORATEUR' in app.user.roles %}
				<a href="{{path('app_information_collaborateur')}}" class="{% if app.request.get('_route') == 'app_information_collaborateur' %}active{% endif %}">Mes informations</a>
			{% endif %}

			{% if app.user and 'ROLE_MANAGER' in app.user.roles %}
				<a href="{{path('app_preference_manager')}}" class="{% if app.request.get('_route') == 'app_preference_manager' %}active{% endif %}">Mes préférences</a>
			{% elseif app.user and 'ROLE_COLLABORATEUR' in app.user.roles %}
				<a href="{{path('app_preference_collaborateur')}}" class="{% if app.request.get('_route') == 'app_preference_manager' %}active{% endif %}">Mes préférences</a>
			{% endif %}

			
			{% if app.user and 'ROLE_MANAGER' in app.user.roles %}
				<div class="dropdown-toggle">
					<a href="#">Administration
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
					</a>
					<div class="submenu">
						<a id="typededemande" href="{{ path('app_administration_type_of_request') }}" class="whitespace-nowrap {% if app.request.get('_route') == 'app_administration_type_of_request' %}active{% endif %}">Types de demandes</a>
						<a id="directions" href="{{ path('app_administration_management_service') }}" class="whitespace-nowrap {% if app.request.get('_route') == 'app_administration_management_service' %}active{% endif %}">Directions/Services</a>
						<a id="managers" href="{{ path('app_administration_manager') }}" class="whitespace-nowrap {% if app.request.get('_route') == 'app_administration_manager' %}active{% endif %}">Managers</a>
						<a id="postes" href="{{ path('app_administration_job') }}" class="whitespace-nowrap {% if app.request.get('_route') == 'app_administration_job' %}active{% endif %}">Postes</a>
					</div>
				</div>
			{% endif %}

			<a href="{{ path('app_logout') }}" class="{% if app.request.get('_route') == 'app_logout' %}active{% endif %}">Déconnexion</a>

			<div class="user-info">
				<img src="avatar.png" alt="User">
				<div>
					{% if app.user %}
						<strong>{{ app.user.person.FirstNameLastName }}</strong><br>
						{{ is_granted("ROLE_MANAGER") ? "Manager" : "Collaborateur" }}
					{% else %}
						<strong>Utilisateur non connecté</strong><br>
						Invité
					{% endif %}
				</div>
			</div>
		{% endif %}
	</aside>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.dropdown-toggle').forEach(item => {
            item.addEventListener('click', function () {
                this.classList.toggle('dropdown-open');
            });
        });

        // CODE POUR LAISSER OUVERT LES MODALES SPÉCIFIÉES
        const idsToCheck = ['typededemande', 'directions', 'managers', 'postes'];
        idsToCheck.forEach(id => {
            const element = document.getElementById(id);
            
            if (element) {
                const parentDropdown = element.closest('.dropdown-toggle');
                if (parentDropdown) {
                    parentDropdown.classList.add('dropdown-toggle', 'dropdown-open');
                }
            }
        });
    });
</script>



{% endblock %}
