{# templates/admin/detail_management_service.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <title>{% block title %}Administration - Directions/Services - Détails/Modification{% endblock %}</title>

    {% include 'layout/menu/_header.html.twig' %}

    <main style="display: flex;">

        {% include 'layout/menu/_sidebar.html.twig' %}

        <div class=" p-8 overflow-y-auto">
              {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="mb-4 p-4 rounded-lg text-sm
                        {% if label == 'success' %}
                            bg-green-100 text-green-800
                        {% elseif label == 'error' %}
                            bg-red-100 text-red-800
                        {% else %}
                            bg-blue-100 text-blue-800
                        {% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <h1 class="text-left font-bold text-2xl mb-4 " style='color : #004C6C'>Service {{ department.name }}</h1>
                <!-- Formulaire Symfony pour éditer et supprimer -->
                {{ form_start(form) }}
                <div class="mb-4 w-full">
                    <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nom du poste :</label>
                    {{ form_widget(form.name, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                    {% if form.name.vars.errors|length > 0 %}
                        <div class="mb-4 p-4 rounded-lg text-sm bg-red-100 text-red-800 mt-[10px]">
                            {% for error in form.name.vars.errors %}
                                {{ error.message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="flex items-left">
                    {{ form_widget(form.submit, {'attr': {'class': 'bg-[#004C6C] hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-2'}}) }}
                    {{ form_widget(form.delete,{'attr': {'class': 'bg-red-700 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-2'}}) }}
                </div>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}